{{define "admin_navbar"}}
<!-- Navbar -->
<header 
  x-data="navbar()" 
  x-init="start()" 
  class="bg-white/80 dark:bg-gray-800/80 backdrop-blur-md border-b border-gray-200 dark:border-gray-700 sticky top-0 z-40"
>

  <div class="flex items-center justify-between px-6 py-3">

    <!-- Mobile Sidebar Button -->
    <button @click="toggleSidebar" class="text-gray-600 dark:text-gray-300 md:hidden">
      <i class="ri-menu-line text-2xl"></i>
    </button>

    <!-- Page Title -->
    <h1 class="md:text-lg text-sm px-2 font-semibold text-gray-800 dark:text-gray-100">
      {{block "title" .}}Admin Dashboard{{end}}
    </h1>

    <!-- Right Side Controls -->
    <div class="flex items-center space-x-4">

      <!-- Theme Toggle -->
      <button @click="toggleTheme" class="text-gray-600 dark:text-gray-300 hover:text-blue-600">
        <!-- Show moon icon if theme is light -->
        <i x-show="theme === 'light'" class="ri-moon-line text-xl"></i>
        <!-- Show sun icon if theme is dark -->
        <i x-show="theme === 'dark'" class="ri-sun-line text-xl"></i>
      </button>

      <!-- View Site Link -->
      <a href="/" class="text-sm font-medium text-blue-600 hover:underline">View Site</a>

    

    </div>

  </div>


</header>
{{end}}
